h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2rem black;

}
p{

    text-align: center;
    color: gray;
} 
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

.About-card__title {
    text-align: center;
    text-shadow: 5px 2px 15px black;
}

.About-card__description {
    width: 30rem;
}

.About-card__image {
    height: 20rem;
    width: 30rem;
    border-radius: 20px;
    box-shadow: 10px 5px 15px 2px black;
}

.About-card {
    display: flex;
    gap: 20px;
}

.About-card__image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;


}